body {
    display: flex;
    justify-content: center;
    background-color:#a5a4a4;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

input{
    font-size: large;
}

button{
    font-size: large;
}

div{
    background-color: #fff;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #de1d4a;
}

.headContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.img {
    width: 80px;
    height: 80px;
}

.background{
    background-color: #ffffff;
}

.error{
    padding: 15px;
    max-width: 50%;
    border-radius: 10px;
    border: 2px solid red
}

#root{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:#ececec;
    width: 60%;
    min-width: 300px;
    border-radius: 10px;
    margin: 25px 0;
}